<mat-toolbar class="app-toolbar">
    <div class="pages-buttons">
    <button class="logo" mat-button routerLink="/dashboard">
      <mat-icon>home</mat-icon>
      Volport</button>
    <button mat-button routerLink="/department"> Departments</button>
    <button mat-button routerLink="/project">Projects</button>
    <button mat-button routerLink="/volunteer">Volunteers</button>
    <button mat-button routerLink="/event">Events</button>
  </div>

  <button mat-icon-button>
    <mat-icon>logout</mat-icon>
  </button>
  <button mat-icon-button routerLink="/profile">
    <mat-icon>account_box</mat-icon>
  </button>
</mat-toolbar>
