.mat-grid-list {
  margin-top: 4%;
  margin-left: 4%;
  margin-right: 4%;
}

.mat-grid-tile:last-child {
  background-image: url(https://media.istockphoto.com/id/1347197740/ro/fotografie/oameni-de-afaceri-care-au-discu%C8%9Bii-ocazionale-%C3%AEn-timpul-%C3%AEnt%C3%A2lnirii.jpg?s=612x612&w=0&k=20&c=1N22AorhE3STF0ZRvz8krElCtJShWjSxRokOG75xSKc=);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4%;
}

.mat-grid-tile:first-child {
  margin-right: 4%;
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
}
